body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0; 
}

.slideArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: rgb(9, 84, 107);  
    width: 100%;
    height: 33%;
    padding: 10px;
}

